#browse-all
.wrapper
	%img#sharewishes{:src => image_path('sharewishes.png')}
	.wishlist
		#header
			%select#wishlist-type{:type => "list"}
				%option brithday wishlist
				%option christmas wishlist
				%option wedding wishlist
		.clr
		.row
			.bullet
				%img.start{:src => image_path('star.png')}
			.field#search-container
		.clr
		%ul#product-list


	%img.save-button{:src => image_path('button-save.png')}
