#gift-cart
	#items-tab
		%span#items-tab-count
		%span Items
	#inner-gift-cart
		#list-items
.wrapper
	%h1#headline
		%span#first Get What You Want.
		%span#second Give What They'll Love.
	#category
	#search-container
	%select#wishlist-type{:type => "list"}
		%option{:value => "Select Wishlist Type"} Select Wishlist Type
		%option{:value => "Birthday"} Birthday Wishlist
		%option{:value => "Christmas"} Christmas Wishlist
		%option{:value => "Wedding"} Wedding Wishlist
		%option{:value => "General"} General Wishlist
		%option{:value => "Baby"} Baby Wishlist
		%option{:value => "Organization/Non-Profit"} Organization/Non-Profit
		%option{:value => "Hannukah"} Hannukah Wishlist
		%option{:value => "Graduation"} Graduation Wishlist
		%option{:value => "Valentine's Day"} Valentine's Day
		%option{:value => "Father's Day"} Father's Day
		%option{:value => "Mother's Day"} Mother's Day
#full-view-container
#product-list-container
	%ul#product-list
		= image_tag 'description.png', :class => "description"
.wrapper
	#saveList
		%form{:action => "#"}
#saveListContainer
	%img.save-button{:src => image_path('button-save.png')}