#browse-all
%header
	= link_to image_tag('logo.png', :class => "logo"), home_path
	.social
		.icon
			#twitter= link_to image_tag('twitter.png'), "#"
		.icon
			#facebook= link_to image_tag('facebook.png'), "#"
.wrapper
	%img#sharewishes{:src => image_path('sharewishes.png')}
	.wishlist
		#header
			%select#wishlist-type{:type => "list"}
				%option brithday wishlist
				%option christmas wishlist
				%option wedding wishlist
		.clr
		.row
			.bullet
				%img.star{:src => image_path('star.png')}
			.field
				%input{:type => "text", :placeholder => "start adding to your wishlist..."}
		.clr
		.row
			.bullet
			.field
		.clr
		.row
			.bullet
			.field
		.clr
		.row
			.bullet
			.field
		.clr
		.row
			.bullet
			.field
		.clr
		.row
			.bullet
			.field
		.clr
		.row
			.bullet
			.field
		.clr
		.row
			.bullet
			.field
			.clr
		.row
			.bullet
			.field
		.clr
		.row
			.bullet
			.field


	%img.save-button{:src => image_path('button-save.png')}
