#browse-all
.wrapper
	%h1#headline
		%span#first Share
		%span#second Your
		%span#third Wishes
	.wishlist
		#header
			%select#wishlist-type{:type => "list"}
				%option brithday wishlist
				%option christmas wishlist
				%option wedding wishlist
		.clr
		#list-items
		#search-container
		#product-list-container
			%ul#product-list
		#saveList
			%h1 Save Your Wishlist
			%p Where would you like your items shipped to?
			%form{:action => "#"}
				.row
					.input-field
						%label{:for => "address"} Address:
						.clr
						%input{:type => "text", :name => "address", :size => "35"}
					.input-field
						%label{:for => "zip"} ZIP Code:
						.clr
						%input{:type => "text", :name => "zip", :size => "10"}
			.clr
			%p How would you like to share your list?
			.row
				.input-field
					= image_tag('facebook-logo.png')
	#saveListContainer
		%img.save-button{:src => image_path('button-save.png')}
  = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)	= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
