#browse-all
.wrapper
	%h1#headline
		%span#first Share
		%span#second Your
		%span#third Wishes
	.wishlist
		#header
			%select#wishlist-type{:type => "list"}
				%option brithday wishlist
				%option christmas wishlist
				%option wedding wishlist
		.clr
		#list-items
		#search-container
		#product-list-container
			%ul#product-list


	%img.save-button{:src => image_path('button-save.png')}
