#gift-cart
	#items-tab
		%span#items-tab-count
		%span Items
	#inner-gift-cart
		#list-items
.wrapper
	%h1#headline
		%span#first Get What You Want.
		%span#second Give What They'll Love.
	#category
		/ %select#wishlist-type{:type => "list"}
		/ 	%option Birthday Wishlist
		/ 	%option Christmas Wishlist
		/ 	%option Wedding Wishlist
		/ 	%option General Wishlist
		/ 	%option Baby Wishlist
		/ 	%option Organization/Non-Profit
		/ 	%option Hannukah Wishlist
		/ 	%option Graduation Wishlist
		/ 	%option Valentine's Day
		/ 	%options Father's Day
		/ 	%option Mother's Day
	#search-container
#full-view-container
#product-list-container
	%ul#product-list
		= image_tag 'description.png', :class => "description"
.wrapper
	#saveList
		%form{:action => "#"}
#saveListContainer
	%img.save-button{:src => image_path('button-save.png')}