/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require_self
 *= require_tree .
*/
$useIEFilters: 0; 
html,body {min-height: 100%;width: 100%;}
body {
	background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    margin: 0 !important;
    height: 100% !important;
}
$orange: #ff9c00;
$chocolate: #6a401f;
$green: #3f6a1f;
$darkblue: #67989e;
$lightblue: lighten($darkblue, 20%);
$darkgreen: #3f6a1f;
@font-face {
    font-family: 'WalkwayRounded';
    src: font-url('walkwayrounded.eot');
    src: font-url('walkwayrounded.eot?#iefix') format('embedded-opentype'),
         font-url('walkwayrounded.woff') format('woff'),
         font-url('walkwayrounded.ttf') format('truetype'),
         font-url('walkwayrounded.svg#walkwayrounded') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'League Gothic';
    src: font-url('league_gothic.eot');
    src: font-url('league_gothic.eot?#iefix') format('embedded-opentype'),
         font-url('league_gothic.woff') format('woff'),
         font-url('league_gothic.ttf') format('truetype'),
         font-url('league_gothic.svg#league_gothic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DearJoe';
    src: font-url('dj5ctrial.eot');
    src: font-url('dj5ctrial.eot?#iefix') format('embedded-opentype'),
         font-url('dj5ctrial.woff') format('woff'),
         font-url('dj5ctrial.ttf') format('truetype'),
         font-url('dj5ctrial.svg#dj5ctrial') format('svg');
    font-weight: normal;
    font-style: normal;
}
@mixin linear-gradient($from, $to, $ie: $useIEFilters) {
  @if $ie != 1 { background-color: $to; }
  
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $from),color-stop(1, $to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: linear-gradient(top, bottom, $from, $to);

  @if $ie == 1 { 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
    -ms-filter: quote(progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}'));
  }
}

@mixin chunkfive($size, $spacing) {
	font-family: 'ChunkFive-Roman';
	font-size: $size;
	letter-spacing: $spacing;
}

@mixin arial($size, $spacing) {
	font-family: Arial, sans-serif;
	font-size: $size;
	letter-spacing: $spacing;
}

@mixin helvetica {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;

}

$darkblue: #67989e;
$lightblue: lighten($darkblue, 20%);
$orange: #ff9c00;
$chocolate: #6a401f;
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }
.clr {
	clear: both;
}

body {
	margin: 0;
	width: 100%;
	
}

h1,h2,h3,h4 {
	font-family:'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	font-weight: bold;
	margin-bottom: 1em;
	
}
p,body {
	font-family:'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	font-weight: normal;
}

header {
	z-index:999999999;
	position:fixed;
	top:0;
	width: 100%;
	height: 49px;
	background-image: image-url('header-bg.png');
	background-repeat: repeat-x;
	padding: 7px 0px;	
	box-shadow: 0px 1px 2px #666;
	a, a:visited{
	text-decoration: none;
	color: $darkblue;

	&:hover{
		color: $lightblue;
	};	
	}
	
	.logo {
		margin-left: 6px;
		margin-top: 4px;
	}

	#logo {
		font-family: "WalkwayRounded";
		font-size: 50px;
		text-shadow: 0px -1px 0px rgba(255, 255, 255, .6);
		letter-spacing: -1px;

		span {
			padding: 0;
		}



		#logo-first {
			color: #F8F8F8;
		}
		#logo-second {
			color: #CFBD78;
			margin-left: -14px;
		}
		#logo-third {
			color: #C7FFF5;
			margin-left: -14px;
		}
	}
	
	#facebook {
		margin-left: 35px;
		margin-top: 5px;
	}
	.right {
		float: right;
		position:relative;
		.sign-in {
			float: left;
			padding: 15px 15px;
			color: $darkblue;
			font-weight: 200;
			@include arial(14px, 0px);
			span:hover{
				color: $lightblue;
			}
			
			span#signin-container {
				padding: 5px 8px;
			}
		}
		
		span.menu-open {
			@include linear-gradient(#444, #353535);
			-moz-border-radius-topleft:5px;
		    -webkit-border-top-left-radius:5px;
		    -webkit-border-top-right-radius:5px;
		    -webkit-border-top-right-radius:5px;
			a, a:visited, a:hover{
				color: $lightblue;
			}
		}
	}
}

.social {
	float: left;
	margin-right: 13px;
	margin-top: 5px;
	height: 41px;
	.icon {
		float: left;
		width: 21px;
		height: 21px;
		background-image: image-url('social-bg.png');
		padding: 10px;
		#facebook {
			margin-left: 2px;
			margin-top: -2px;
		}
		#twitter {
			margin-left: -2px;
			margin-top: 0px;
		}
	}
}


#signin_menu {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
	display:none;
    @include linear-gradient(#353535, #000000);
    position:absolute;
    width:210px;
    z-index:100;
    border:1px transparent;
    text-align:left;
    padding:12px;
    top: 26.5px;
    right: 103px;
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    font-size:11px;

	input[type=text], input[type=password] {
	    display:block;
	    -moz-border-radius:4px;
	    -webkit-border-radius:4px;
	    border:1px solid #ACE;
	    font-size:13px;
	    margin:0 0 5px;
	    padding:5px;
	    width:203px;
	}
	
	p {
	    margin:0;
	}
	
	a {
	    color:#6AC;
		&:hover {
			text-decoration: underline;
		}
	}
	
	label {
	    font-weight:normal;
	}
	
	p.remember {
	    padding:10px 0;
	}
	
	p.forgot, p.complete {
	    clear:both;
	    margin:5px 0;
	}
	
	p a ,label{
	    color:$lightblue!important;
	}
}

#signin_submit {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#39d url('images/bg-btn-blue.png') repeat-x scroll 0 0;
	@include linear-gradient($lightblue, $darkblue);
    border:1px solid #39D;
    color:#fff;
    text-shadow:0 -1px 0 #39d;
    padding:4px 10px 5px;
    font-size:11px;
    margin:0 5px 0 0;
    font-weight:bold;
}
#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
    background-position:0 -5px;
    cursor:pointer;
}

p.notice {
	color: #244903
}

.notification {
	padding: 10px;
	opacity: .8;
	margin:0 auto;
	background-color: #afeb79;
	text-align: center;
	display:block;
	border-radius: 4px;
	border: 1px solid #73b33b;
	margin-top: 63px;
}
.notification p {
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Grande';
}