// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application.css.scss';

html, body {
	margin: 0;
}
body {
	background-image: image-url('bg.png');
}

header {
	width: 1001px;
	height: 116px;
	margin: 0 auto;
	background-image: image-url('header-bg.png');
	background-repeat: no-repeat;
}