// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application.css.scss';

html, body {
	margin: 0;
}
body {
	// background-image: image-url('bg.png');
	// background-repeat: repeat-both;
	//background-color: rgba(0, 0, 0, .03);
	@include linear-gradient(white, #eee);
}



img#sharewishes {
	margin: 20px 40px;
}
#headline {
	text-align: center;
    font-family: "DearJoe";
    letter-spacing: -1px;
    font-weight: normal;
    font-size: 84px;
    color: black;
    margin: 18px auto;
	#first {
		 color: #ff9c00;
	}
	#second {
		color: #6a401f;
	margin-left:-15px;
    //text-shadow: 0px 0px 7px rgba(0,0,0,.6);
	}
	#third {
			color: #ff9c00;
		margin-left:-15px;
	}
}


#browse-all {
	background-image: image-url('browse-all.png');
	background-repeat: no-repeat;
	position: absolute;
	right: -2px;
	top: 70px;
	width: 110px;
	height: 45px;
}

.wrapper {
	width: 670px;
	margin-left: auto;
	margin-right: auto;
}

.list-item-image {
		max-width: 50px;
		max-height: 50px;
		float: left;
		margin-right:9px;
	}

.wishlist {
	width: 670px;
	height: 680px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 1px 2px rgba(0,0,0,.7);
	border-radius: 8px;
	overflow: hidden;
	#header {
		width: 668px;
		height: 50px;
		background: image-url('list-header.png') repeat-x;
		border: 1px solid #191c1f;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
	
	.row {
		width: 670px;
		height: 62px;
//		border-bottom: 1px solid #e7e7e7;
	}
	
	.bullet {
		width: 32px;
		height: 32px;
		float: left;
//		border-right: 1px solid #fccbcb;
		padding: 15px 15px;
	}
	
	.field {
		width: 587px;
		height: 42px;
		float: right;
		padding: 10px 10px;
		overflow-y:hidden;
		margin-bottom: 10px;

		input[type="text"] {
			margin-top: 2px;
			border-radius: 30px;
			width: 525px;
			height: 31px;
			font-family:  Helvetica, sans-serif;
			font-style: italic;
			font-weight: lighter;
			font-size: 18px;
			padding-left: 10px;
			border: 1px solid #DDD;
			box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);

			
		}
		input[type="text"]:focus {
			box-shadow: 0px 0px 10px #409dc8;
			border: none;
			outline: none;
		}
		p.list-item {
			font-family:'Helvetica Neue', 'Helvetica', sans-serif;
			font-weight: bold;
			font-size: 22px;
			margin-top: 2px;
		}
		span.list-item-span {
			color: #ccc;
			font-size: 18px;
			margin-left: 10px;
			text-transform: capitalize;
		}
	}
	
	#product-list-container {
		overflow: scroll;
		width: 100%;
		height: 560px;
	}


	.overlay {
		@include linear-gradient(white, black);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: .03;
	}
	.product.hover {
		box-shadow: 0px 0px 10px #409dc8;
	}
	.product {
		width: 118px;
		height: 140px;
		border-radius: 4px;
		border: 1px solid #d1d1d1;
		float: left;
		margin: 5px 8px;
		padding: 5px;
		position: relative;
		font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
		font-size: 11px;
		
		
		p {
			margin: 0px 0px 5px 0px;
			color: #4a4a4a;
		}
		
		.product-image {
			text-align: center;
		
			img {
				max-width: 118px;
				max-height: 110px;
			}
		}
		
		.price {
			position: absolute;
			bottom: 5px;
			left: 5px;
			color: #f1592b;
			font-weight: bold;
		}
		
		.rating {
			position: absolute;
			bottom: 5px;
			right: 5px;
		}
		
	}

	.product.full-view {
//		width: 560px;
//		height: 460px;
		padding: 0px 20px 20px 20px;
		border: none;
		.overlay {
			background: none;
		}
		
		p.product-title {
			font-size: 24px;
			font-weight: bold;
		}
		
		span.price {
			font-size: 18px;
		}
		
		p.description {
			line-height: 1.5em;
		}
		
		img#add-button {
			position: absolute;
			right: 0;
			bottom: 0;
		}
		img#back-button {
			position: absolute;
			right: 0;
			top: 0;
		}
		
		.product-image {
			text-align: left;
			
			img {
				max-width: 200px;
				max-height: 250px;
			}
		}
	}
}

#wishlist-type {
	float: right;
	background: transparent;
	width: 220px;
	padding: 5px;
	font-size: 16px;
	border: 1px solid rgba(0,0,0,.8);
	height: 32px;
	color: #ccc;
	margin-top: 8px;
	margin-right: 5px;
	font-weight: bold;
}

#save-button {
	float: right;
	margin-top: 10px;
}
//Filters
.filters {
	padding: 5px 100px;
	font: normal normal 12px/1.5em 'Lucida Grande', 'Lucia Sans Unicode', 'Lucida Sans', sans-serif;
	color: #5b5b5b;
	width: 243px;
	height: 13px;
	
	#slider-range {
		float: left;
		margin-top: 6px;
	}
	
	#pricelabel {
		float: left;
	}
}

//Range Slider
#demo-frame > div.demo { padding: 10px !important; };

.ui-slider-horizontal {
height: 7px;
border: none;
background: image-url('track.png') repeat-x;
width: 137px;
margin-left: 10px;
}

.ui-slider-range {
	background: image-url('slider_overlay.png') repeat-x;
}
#slider-range .ui-slider-handle {
	width: 20px;
	height: 21px;
	background: image-url('handle.png') no-repeat 0px -4px;
	border: none;
}
#slider-range .ui-state-focus, #slider-range .ui-state-hover {
	border: none;
	box-shadow: none;
	color: transparent;
	outline-width: 0px;
}

#amount {
	border: none;
	width: 60px;
	float: right;
	color: #CCC;
	font-size: 9px;
	height: 9px;
	padding-top: 4px;
	}

//Save List Container
#saveList {
	padding-left: 72px;
	@include helvetica;
	p {
		font-size: 14px;
		margin: 15px auto 7px auto;
	}
	.row {
		width:150px;
		display:inline;
		label {
			color: #333;
			font-size: 12px;
		}
		.input-field {
			float:left;
			margin-right: 20px;
			input[type=text], input[type=password] {
				margin-top: 2px;
				border-radius: 3px;
				font-family:  Helvetica, sans-serif;
				font-weight: lighter;
				border: 1px solid #DDD;
				box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
				height:18px;
				font-size:14px;
			}

		}
	}
}