// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application.css.scss';

html, body {
	margin: 0;
}
body {
	background-image: image-url('bg.png');
	background-repeat: repeat-both;
}

header {
	width: 941px;
	height: 56px;
	margin: 0 auto;
	background-image: image-url('header-bg.png');
	background-repeat: no-repeat;
	padding: 30px 30px;
	#facebook {
		margin-left: 35px;
		margin-top: 5px;
	}
}

.social {
	float: right;
	width: 90px;
	height: 41px;
	.icon {
		float: left;
		width: 21px;
		height: 21px;
		background-image: image-url('social-bg.png');
		padding: 10px;
		#facebook {
			margin-left: 2px;
			margin-top: -2px;
		}
		#twitter {
			margin-left: -2px;
			margin-top: 0px;
		}
	}
}

#browse-all {
	background-image: image-url('browse-all.png');
	background-repeat: no-repeat;
	position: absolute;
	right: -2px;
	top: 150px;
	width: 110px;
	height: 45px;
}

.wrapper {
	width: 670px;
	margin-left: auto;
	margin-right: auto;
}

.wishlist {
	width: 670px;
	height: 680px;
	background-image: image-url('bg_wishlist.png');
	background-repeat: repeat-both;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	box-shadow: 0px 1px 2px rgba(0,0,0,.7);
	border-radius: 8px;
	overflow: hidden;
	#header {
		width: 668px;
		height: 55px;
		@include linear-gradient(#394049, #191c1f);
		border: 1px solid #191c1f;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
	
	.row {
		width: 670px;
		height: 62px;
		border-bottom: 1px solid #e7e7e7;
	}
	
	.bullet {
		width: 32px;
		height: 32px;
		float: left;
		border-right: 1px solid #fccbcb;
		padding: 15px 15px;
	}
	
	.field {
		width: 587px;
		height: 42px;
		float: right;
		padding: 10px 10px;

		input[type="text"] {
			border-radius: 8px;
			width: 570px;
			height: 40px;
			font-family:  Helvetica, sans-serif;
			font-style: italic;
			font-weight: lighter;
			font-size: 18px;
			padding-left: 10px;
			
		}
	}
}

#wishlist-type {
	float: right;
	background: transparent;
	width: 220px;
	padding: 5px;
	font-size: 16px;
	border: 1px solid rgba(0,0,0,.8);
	height: 35px;
	color: #67989e;
	margin-top: 8px;
	margin-right: 5px;
	font-weight: bold;
}

.save-button {
	float: right;
	margin-top: 10px;
}
