// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application.css.scss';
#donate {
	@include linear-gradient(lighten($darkgreen, 30%), lighten($darkgreen,5%));
	border-radius: 13px;
	width: 100px;
	height: 29px;
	border: 1px solid lighten($darkgreen, 10%);
	box-shadow: 0px 2px 1px rgba(0,0,0,.5);
	color: white;
	font-size: 14px;
	text-shadow: 0px -1px rgba(0,0,0,.3);
	text-transform: uppercase;
	float:right;
	margin-top:10px;
	cursor:pointer;
}
#donate:hover {
	opacity: 0.85;
}
.donateItem {
	position: absolute;
	right:16px;
	bottom:16px;
	#donate {
		width: 84px;
		height:18px;
		font-size:10px;
		padding-top: 3px;
		@include linear-gradient(lighten(#FF9C00, 10%),darken(#FF9C00,10%));
		border: darken(#FF9C00,30%);
	}
}
body.vday {
	background: image-url('bg-valentines.jpg') center top no-repeat;
	background-color: #eec9c8 !important;
	header {
		background-image: url('url(/assets/vday-header.png)');
	}
	h1 {
		font-family:'DearJoe';
		margin-top: 45px;
		color:#B44367;
	}
	h2.balance {
		color: #B44367;
	}
}
body.christmas {
	background: image-url('bg-christmas.png') left bottom no-repeat;
	background-color: #ede7e8 !important;
	header {
		background-image: image-url('header-bg-christmas.png') !important;
	}
	h1 {
		font-family:'DearJoe';
		margin-top: 45px;
		color:#1D4D1B;
	}
	h2.balance {
		color: #1D4D1B;
	}
}
body.graduation {
	background: image-url('bg-graduation.png') left bottom no-repeat;
	background-color: #ede7e8 !important;
	header {
		background-image: image-url('header-bg-graduation.png') !important;
	}
	h1 {
		font-family:'DearJoe';
		margin-top: 45px;
		color:#226A8B;
	}
	h2.balance {
		color: #226A8B;
	}
}
body.hannukah {
	background: image-url('bg-hannukah.png') left bottom no-repeat;
	background-color: #bad0e7 !important;
	header {
		background-image: image-url('header-bg-hannukah.png') !important;
	}
	h1 {
		font-family:'DearJoe';
		margin-top: 45px;
		color:#226A8B;
	}
	h2.balance {
		color: #226A8B;
	}
}