%header
	%a#logo{:href => '/'}
		= link_to image_tag('logo.png', :class => 'logo'), root_path
	.right
		.sign-in
			%span#signin-container= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :id => 'sign-in'
		.social
			.icon
				#twitter= link_to image_tag('twitter.png'), "#"
			.icon
				#facebook= link_to image_tag('facebook.png'), "#"