%header
	%a#logo{:href => '/'}
		= link_to image_tag('logo.png', :class => 'logo'), root_path
	.right
		= render :partial => "/layouts/signin"
		.social
			.icon
				#twitter= link_to image_tag('twitter.png'), "#"
			.icon
				#facebook= link_to image_tag('facebook.png'), "#"